*{
    margin: 0;
    padding: 0;
}
body{
    background: #efd8e5;
}

/*.logo{
    position: absolute;
width: 266px;
height: 116.51px;
left: 29px;
top: 13px;
}*/
.img1{
    position: absolute;
width: 217px;
height: 83px;
left: 958px;
top: 37px;
}
.img2{
    position: absolute;
width: 162px;
height: 83px;
left: 1243px;
top: 37px;
}
.m1{
    position: absolute;
width: 362px;
height: 353px;
left: 83px;
top: 136px;


}
.m2{
   position: absolute;
width: 362px;
height: 353px;
left: 539px;
top: 136px;

}
.m3{
    position: absolute;
width: 362px;
height: 353px;
left: 995px;
top: 136px;


}
.m5{
   position: absolute;
width: 362px;
height: 353px;
left: 539px;
top: 534px;


}
.m4{
   position: absolute;
width: 362px;
height: 353px;
left: 83px;
top: 534px;



}
.m6{
   position: absolute;
width: 362px;
height: 353px;
left: 995px;
top: 534px;

}
/*.s1{
    position: absolute;
width: 20%;
height: 353px;
left: 3%;
top: 25px;

}
.s2{
    position: absolute;
width: 20%;
height: 353px;
left: 480px;
top: 25px;
}
.s3{
    position: absolute;
    width: 20%;
    height: 353px;
    left: 930px;
    top: 25px;
    
}
.s4{
    position: absolute;
    width: 20%;
    height: 353px;
    left: 33px;
    top: 350px;
    
    
}
.s5{
    position: absolute;
    width: 20%;
    height: 353px;
    left: 500px;
    top: 350px;
    
}
.s6{
    position: absolute;
width: 20%;
height: 353px;
left: 950px;
top: 350px;

}
.t1{
    position: absolute;
left: 64.69%;
right: 8.46%;
top: 25.24%;
bottom: 38.56%;

background: url(mcgonagall.png);
filter: drop-shadow(4px 4px 30px rgba(0, 0, 0, 0.25));
border-radius: 21px;
}
.clr1{
    box-sizing: border-box;

position: absolute;
left:7.50%;
right:7.500%;
top: 21.86%;
bottom:8.10%;
background: #bdc1f0;
border-radius: 29px;

}
.clr{
    position: absolute;
width: 1380px;
height: 730px;
left: 3%;
top: 13.30%;

right:30.91% ;

background: #bdc1f0;
filter: blur(41.5px);
}*/
@media  screen and (max-width:800px){
    body{
        /*height: 100vh;
        width: 100%;*/
        position: relative;
width: 360px;
height: 800px;

background: #F6DEFF;
    }
    a{
        margin-left: 150px;
    }
    .img1{
        position: absolute;
        width: 59px;
        height: 18px;
        left: 239px;
        top: 28px;
        
        font-family: 'Pirata One';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        /* identical to box height */
        
        letter-spacing: 0.09em;
        
        color: #FFFFFF;
    }
    .img2{
        position: absolute;
width: 59px;
height: 18px;
left: 315px;
top: 27px;

font-family: 'Pirata One';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;
/* identical to box height */

letter-spacing: 0.09em;

color: #000000;

    }
    .mlogo{
        position: absolute;
width: 138.66px;
height: 45px;
left: 16px;
top: 5px;

    }
    .m1{
        position: absolute;
width: 258px;
height: 252px;
left: 12%;
top: 8%;
    }
    .m2{
        position: absolute;
width: 258px;
height: 252px;
left: 12%;
top: 38%;
    }
.m3{
    position: absolute;
width: 258px;
height: 252px;
left: 12%;
top: 68%;

}
.m4{
    position: absolute;
width: 258px;
height: 252px;
left: 12%;
top: 98%;

}
.m5{
    position: absolute;
width: 258px;
height: 252px;
left: 12%;
top: 128%;

}
.m6{
    position: absolute;
width: 258px;
height: 252px;
left: 12%;
top: 158%;

}
}